/* general settings */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.flex-container{
    display: flex;
    max-width: 992px;
    margin: auto;
    width: 100%;
}
ul{
    list-style: none;
}
ul li a{
    text-decoration: none;
}
/* header */
header{
   background-color: #122A57; 
   height: 10vh;
   display: flex;
   align-items: center;
   color: #fff;
}
header .list-items{
    display: flex;
    width: 100%;
    max-width: 260px;
    justify-content: space-between;
}
header .list-items li a{
    color: #fff;
}
header .menu{
    justify-content: space-between;
}
