/* general settings */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.flex-container{
    display: flex;
    max-width: 992px;
    margin: auto;
    width: 100%;
    min-width: 320px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
div img{
    display: block;
    width: 100%;
}
.btn{
    background-color: #122A57;
    color: #fff;
    text-align: center;
    border-radius: 30px;
    width: 220px;
    display: block;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* header */
header{
   background-color: #122A57; 
   height: 10vh;
   display: flex;
   align-items: center;
   color: #fff;
}
header .title{
    font-size: 1.3rem;
}
header .list-items{
    display: flex;
    width: 100%;
    max-width: 260px;
    justify-content: space-between;
    align-items: center;
}
header .list-items li a{
    color: #fff;
}
header .list-items li a:hover{
    color: rgb(236, 236, 162);
}
header .menu{
    justify-content: space-between;
}

/* banner */
.banner{
    height: 80vh;
    align-items: center;
    justify-content: space-between;
}
.banner .banner-text{
    min-height: 200px;
}
.banner .banner-text h1{
    color: #122A57;
    font-size: 48px;
    margin-bottom: 10px;
}

/* about us */
.about-us{
    align-items: center;
    justify-content: space-between; 
    height: 60vh;  
}
.about-us h2{
    font-size: 32px;
    color: #122A57;
    display: flex;
    margin-bottom: 20px;
}
.about-us h2::before{
    content: "";
    height: 50px;
    width: 5px;
    margin-right: 5px;
    background-color: #122A57;
    position: relative;
}
.about-us p{
    margin-bottom: 10px;
    width: 100%;
}
.about-us img{
    min-width: 480px;
}

/* services */
.services{
    background-color: #122A57;
    width: 100%;
}
#services{
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 100px;
    text-align: center;
}
#services h2{
    color: white;
    font-size: 32px;
    margin-bottom: 40px;
}
.list-services{
    display: flex;
    justify-content: space-between;
}
.list-services .item-service{
    text-align: center;
}
.list-services .item-service a{
    width: 220px;
    background-color: #fff;
    border-radius: 30px;
    height: 50px;
    margin-top: 15px;
    text-align: center;
    line-height: 50px;
    padding: 5px 15px;
    text-decoration: none;
    color: #122A57;
    font-size: 14px;
    font-weight: 700;
}
.list-services .item-service p{
    margin-top: 20px;
    font-weight: 700;
    color: white;
    font-size: 16px;
}
.list-services .item-service img{
    width: 80%;
    margin: auto;
}

/* plans */
.plans{
    flex-direction: column;
    min-height: 60vh;
    padding-top: 50px;
}
.plans h2{
    font-size: 32px;
    color: #122A57;
    margin-right: 10px;
    margin-left: 10px;
}
.plans .list-plans{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.plans .list-plans .item-plan{
    text-align: center;
    flex: 1;
    border: 5px solid #122A57;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px;
    max-width: 250px;
}
.item-plan h3{
    font-size: 25px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.item-plan h3::after{
    content: "";
    background-color: #122A57;
    width: 100%;
    height: 3px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.item-plan .btn{
    margin: auto;
    margin-bottom: 20px;
}
.item-plan ul{
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.item-plan ul li{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.item-plan ul li::before{
    content: "";
    width: 10px;
    height: 10px;
    background-color: #122A57;
    margin-right: 5px;
}
/* footer */
footer{
    background-color: #122A57;
    height: 70px;
    color: white;
    display: flex;
    text-align: center;
}
footer .footer{
    justify-content: space-between;
    
}
/* mobile */
@media(max-width: 992px){
    .flex-container{
        flex-direction: column;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .banner .banner-text{
        width: 100%;
    }
    .about-us{
        flex-direction: column-reverse;
    }
    .about-us img{
        min-width: 320px;
        margin: auto;
    }
    .list-services{
        flex-direction: column;    
    }
    .list-services .item-service img{
        width: 50%;
        margin: auto;
    }
    .plans .list-plans{
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
    }
    .plans .list-plans .item-plan{
        max-width: 90%;
        margin: auto;
        width: 100%;
        margin-bottom: 20px;
    }
}